<section id="posts">
<% if @posts.any? ; for post in @posts %>
  <article id="post-<%= post.id %>">
    <header>
      <hgroup>
        <h1><%= post.title %></h1>
      </hgroup>
    </header>
    <%= raw post.content_html %>
    <footer>
      <p>Published on <time datetime="<%= post.created_at %>"><%= post.created_at.strftime("%D") %></time></p>
    </footer>
  </article>
<% end ; end %>
</section>