<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title>Postmachine</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
